<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>MAIN</title>
</head>
<body>
	<div id="main">
	<h1>Counter</h1>
	<p><%= counter %></p>
	<div id="buttons">
		<form id="plustwo" method="Post" action="/plustwo">
			<input type="submit" value="Plus Two!">
		</form>
		<form id="reset" method="Post" action="/reset">
			<input type="submit" value="Reset!">
		</form>
	</div>
	</div>
</body>
</html>