<!DOCTYPE html>
<html>
<head>
	<title>Survey Result</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="main">
		<h2>Submitted Information</h2>
		<table id="results-table">
			<tr>
				<td>Name: </td>
				<td><%=results.name%></td>
			</tr>
			<tr>
				<td>Location: </td>
				<td><%=results.loc%></td>
			</tr>
			<tr>
				<td>Favorite Language: </td>
				<td><%=results.lang%></td>
			</tr>
			<tr>
				<td>Comments: </td>
				<td><%=results.comment%></td>
			</tr>
		</table>
		<a href="/">GO BACK</a>
	</div>
</body>
</html>